<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>

</head>
<body>
    <div class="topnav">
          <img src="/static/ebayi.jpg" style="width:2.5%;height:12.5;" />
          <a class="active" href="/">Home</a>
          <a href="/product">Product</a>
          <a href="/cart">Cart</a>
          <input type="text" placeholder="Search..">
    </div>

    <h2>CART </h2>
    <img src="/static/48lop1.jpg"/>
    <p>name:the 48 Laws of Power<br>price:50$<br>author:Robert Greene</p>
    <p>-----------------------------------------------------------------</p>
    <p>items cost:50$<br>shipping cost: 7$</p>
    <h3>TOTAL:57$</h3>

</body>
</html>