<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <style>
        body {background-color: darkcyan;}
    </style>

</head>
<body>
    <div class="topnav">
          <img src="/static/ebayi.jpg" style="width:2.5%;height:12.5;" />
          <a class="active" href="/">Home</a>
          <a href="/product">Product</a>
          <a href="/cart">Cart</a>
          <input type="text" placeholder="Search..">
    </div>

    <img src="/static/harrypfull.jpg" style="width:25;height:25;"/>
    <h3>name:harry potter full set<br>price:150$<br>author:J.K.Rowling</h3>
    <img src="/static/48lop1.jpg"/>
    <h3>name:the 48 Laws of Power<br>price:50$<br>author:Robert Greene</h3>
    <img src="/static/iewu.jpg"/>
    <h3>name:it ends with us<br>price:25$<br>author:Colleen Hoover</h3>
    <img src="/static/hg.jpg"/>
    <h3>name:hunger games<br>price:50$<br>author:Suaznne Collins</h3>
    <a href="home.html">home page</a>
    <h2>VVVVVV load more VVVVVV</h2>
</body>
</html>
